* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans Extrabold', sans-serif;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  /* width: 100%; */
}

.list {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(70deg, #491944, #f8a7f0);
  padding: 10px;
}
.calendar {
  display: flex;
  justify-content: center;
  margin-right: 50%;
  margin: 10px auto;
}
.search-form {
  border: 1px solid #491944;
  display: inline-flex;
  padding: 0px, 20px;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  justify-content: flex-end;
}
.search-form-txt {
  border: none;
  min-width: 80px;
  outline: none;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 15px;
}
.search-form-btn {
  border: none;
  padding-right: 8px;
  background-color: inherit;
}

.search-form-image {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.todo-app {
  max-width: 600px;
  background-color: #fff;
  margin: 100px auto 30px;
  padding: 20px 50px;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.image-pen {
  margin-left: 15px;
}
.text {
  /* position: relative; */
  border-color: dimgrey;
  border-radius: 5px;
  height: 35px;
  padding: 15px;
  flex: 1;
}
.button {
  background-color: #cc99ff;
  height: 35px;
  width: 40px;
  border-radius: 5px;
  background-color: none;
  margin-left: 10px;
  cursor: pointer;
}
.button:hover{
  background-color: #cc00ff;
}
.add-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.search{
  display: flex;
  justify-content: space-between;
}
.custom-select {
  margin-bottom: 10px;
}
ul li {
  font-size: 15px;
  padding: 10px 8px 10px 30px;
  user-select: none;

  position: relative;
  cursor: pointer;
}
.close{
  position: absolute;
  display: flex;
  justify-content: flex-end ;
  border: #fff;
  font-size: 15px;
background-color: inherit;
  right: 0;
  top: 0;
  padding: 10px 8px 10px 50px;

}

ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover {
  background: #ddd;
}
.checkbox{
  position: absolute;
  appearance: none;
  
}
.check-box {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid 1px black;
  border-radius: 2px;
  margin-left: -1.2em;
}
.checkbox:checked + .check-box {
  border: white;
  background-image: url("../images/check.svg") ;
  /* width: 16px;
  height: 16px; */
  /* color: var(--active-color);
  border-color: var(--active-color); */
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: contain;
}

ul li:checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
.q-tasks{
 display: flex;
 margin-left: 100%;
}